* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    /* шрифт */
    --Green: #618B7E;
    --335-e-50: #335E50;
    --black: #000000;
    --White: #FFFFFF;
    --Grey-Medium: #A8A8A8;
}
/* sidebar начало */
.logo_desktop_sidebar {
    width: 166px;
}
.sidebar_navigation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
.nav_logo_and_links {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}
.logo_mobile_sidebar {
    display: none;
}
.logo_and_links {
    display: flex;
    flex-direction: column;
    gap: 31px;
}
.nav_logo_and_links_list,
.nav_logo_and_links_list1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.nav_logo_and_links_list_point {
    cursor: pointer;
}
.nav_logo_and_links_list_point:hover {
    opacity: .6;
    transition: all 0.2s ease;
}
.sidebar_navigation_container {
    width: 234px;
    background: #F4F4F4;
}
.aside_sidebar {
    position: fixed;
    z-index: 4;
}
.position_body {
    position: relative;
}
.nav_logo_and_links_list li,
.nav_logo_and_links_list1 li,
.nav_connection_list li {
    list-style-type: none;
}
.nav_connection_list {
    display: flex;
    gap: 16px;
    margin-top: 71px;
}
.nav_connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.nav_logo_and_links_list_link {
    color: var(--335-e-50);
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px; /* 153.846% */
    letter-spacing: 1.43px;
    text-transform: uppercase;
}
.nav_projects_and_prices_item {
    color: var(--335-e-50);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
}
.nav_connection_tel {
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px; /* 130% */
    margin-top: 30px;
}
.nav_connection_callback {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    color: #335D50;
    text-align: center;
    margin-top: 8px;
    max-width: 178px;
    cursor: pointer;
}
.button_calculate_sidebar {
    background-color: var(--Green);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 102px;
    font-size: 15px;
    line-height: 133%;
    cursor: pointer;
    margin-top: 24px;
    font-weight: 700;
}
.button_calculate_sidebar:hover  {
    opacity: .6;
    transition: all 0.2s ease;
}
/* sidebar конец */
/* общие стили начало */
.main_section {
    margin-left: 234px;
}
/* общие стили конец */
/* page products начало */
.products_component {
    display: flex;
    justify-content: center;
}
.products_component_container {
    width: 1146px;
}
.products_component_heading {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 123%;
    margin-top: 70px;
}
.type_of_brevno {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
}
.card_ocilindrovannoe_brevno,
.card_okoryonnoe_brevno {
    width: 556px;
    display: flex;
    flex-direction: column;
    border: 3px solid #EFE0D1;
}
.card_ocilindrovannoe_brevno_img {
    height: 300px;
    width: 315px;
    align-self: center;
}
.card_okoryonnoe_brevno_img {
    height: 300px;
    width: 311px;
    align-self: center;
}
.card_ocilindrovannoe_brevno_price,
.card_okoryonnoe_brevno_price {
    display: flex;
    justify-content: space-between;
}
.card_ocilindrovannoe_brevno_heading,
.card_okoryonnoe_brevno_heading {
    color: var(--black, #000);
    font-size: 26px;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
}
.card_ocilindrovannoe_brevno_list_point,
.card_okoryonnoe_brevno_list_point {
    color: var(--black, #000);
    font-size: 15px;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    opacity: 0.7;
}
.card_ocilindrovannoe_brevno_price_text,
.card_okoryonnoe_brevno_price_text {
    color: var(--black, #000);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    opacity: 0.7;
}
.button_card_ocilindrovannoe_brevno_price,
.button_card_okoryonnoe_brevno_price {
    background-color: var(--Green);
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    border-radius: 102px;
    font-size: 15px;
    font-weight: 700;
    line-height: 133%;
    cursor: pointer;
}
.button_card_ocilindrovannoe_brevno_price:hover,
.button_card_okoryonnoe_brevno_price:hover  {
    opacity: .6;
    transition: all 0.2s ease;
}
.card_ocilindrovannoe_brevno,
.card_okoryonnoe_brevno {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.card_ocilindrovannoe_brevno_text,
.card_okoryonnoe_brevno_text {
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.card_ocilindrovannoe_brevno_list,
.card_okoryonnoe_brevno_list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-left: 18px;
}
.card_okoryonnoe_brevno_text_container,
.card_ocilindrovannoe_brevno_text_container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 496px;
    align-self: center;
}
.card_ocilindrovannoe_brevno {
    padding-top: 22px;
    padding-bottom: 32px;
}
.card_okoryonnoe_brevno {
    padding-top: 24px;
    padding-bottom: 32px;
}
.kachestvo_breven {
    background-color: var(--335-e-50);
    display: flex;
    justify-content: space-between;
}
.kachestvo_breven_margintop1 {
    margin-top: 155px;
}
.kachestvo_breven_margintop2 {
    margin-top: 70px;
}
.kachestvo_breven_heading {
    color: var(--White);
    font-size: 38px;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    width: 405px;
    margin-top: 9px;
}
.kachestvo_breven_section_one_text {
    color: #B2CFC8;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px; /* 125% */
    width: 451px;
    margin-top: 24px;
}
.kachestvo_breven_list_point {
    color: #B2CFC8;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    list-style-type: none;
    padding-left: 10px;
    width: 468px;
}
.kachestvo_breven_list_point_interval {
    color: var(--White);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px; /* 140% */
}
.kachestvo_breven_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-image: url("../icons/page_products/check_mark.svg");
    padding: 51px 81px 47px 0px;
}
.kachestvo_breven_section_one {
    padding: 0px 0px 59px 40px;
    margin-top: -32px;
}
.kachestvo_breven_section_one_img {
    padding-left: 10px;
}
.products_page_text_one_heading {
    color: #43382F;
    font-size: 26px;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
}
.products_page_text_one_text {
    color: #43382F;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%; /* 21px */
    width: 755px;
    margin-top: 23px;
}
.products_page_text_one {
    margin-top: 100px;
    margin-bottom: 70px;
}
.before_after_block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CAEBE0;
    padding: 35px 101px 42px 52px;
}
.before_after_block1_heading {
    color: var(--black, #000);
    font-size: 26px;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
    width: 444px;
}
.before_after_block1_text {
    color: var(--black, #000);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    width: 436px;
}
.before_after_block1_foto {
    display: flex;
    flex-wrap: nowrap;
    gap: 23px;
}
.before_after {
    padding-top: 55px;
}
.before_after_pluses_list_point {
    color: var(--black, #000);
    font-size: 15px;
    font-weight: 400;
    line-height: 130%;
    width: 252px;
    position: relative;
    padding-top: 34px;
    margin-top: 40px
}
.before_after_pluses_list_point::before {
    content: url(/icons/page_products/check_mark3.svg);
    position: absolute;
    left: 0;
    top: 0;
}
.before_after_pluses_list_point_interval {
    color: var(--black, #000);
    font-size: 15px;
    font-weight: 700;
    line-height: 130%;
}
.before_after_pluses_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.before_after_block1_text_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.products_component1,
.products_component2,
.products_component3 {
    display: flex;
    justify-content: center;
}
.products_component_container1,
.products_component_container2 {
    width: 1146px;
}
.products_component_container3 {
    width: 740px;
}
/* 1024 - в мобильной и планшетной версии фото бревна на главной странице будет справа */
/* page products конец */
/* footer начало*/
.footer_section {
    margin-left: 234px;
    display: flex;
    justify-content: flex-start;
    background-image: url("../img/footer/background_footer.webp");
    background-color: #FDF9F3;
}
.footer_component_container {
    display: flex;
    gap: 314px;
    padding: 52px 134px 55px 111px;
    justify-content: space-between;
}
.footer_component_container_center {
    display: flex;
    width: 1366px;
}
.footer_company_name {
    color: var(--black, #000);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */
}
.footer_block_one_text_one,
.footer_block_one_text_two,
.footer_block_one_text_three {
    color: var(--black, #000);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
}
.footer_block_one {
    width: 308px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 2px;
}
.footer_block_two_list_point_link {
    color: var(--black, #000);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%; /* 21px */
    text-decoration: none;
}
.footer_block_two_list_point {
    list-style-type: none;
    margin-bottom: 8px;
}
.footer_block_two_working_hours {
    color: var(--black, #000);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    opacity: 0.5;
}
.footer_block_two_mail {
    color: var(--black, #000);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%; /* 21px */
    text-decoration: none;
    margin-top: 18px;
    display: block;
}
.footer_block_three {
    width: 237px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 2px;
}
.footer_block_three_section_one_politics,
.footer_block_three_section_one_user_agreement {
    color: #5D9583;
    font-size: 13px;
    font-weight: 400;
    line-height: 140%; /* 18.2px */
}
.footer_block_three_section_one_politics {
    text-decoration: none;
}
.footer_block_three_is_made_text {
    width: 149px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%; /* 21px */
}
.footer_block_three_is_made_img {
    text-decoration: none;
    color: #B6A58C;
    display: inline;
}
.footer_block_three_section_two {
    display: flex;
    gap: 10px;
}
.footer_block_three_section_one {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
}
.footer_block_one_two_container {
    display: flex;
    gap: 85px;
}
.footer_component_container_center {
    flex-direction: column;
}
.gray_background_footer,
.gray_background_footer_1 {
    position: fixed;
    top: -100%;
    right: 0%;
    left: -100%;
    bottom: -1000%;
    background-color: #000000;
    opacity: 0.25;
}
.gray_background_footer { z-index: 18; }
.gray_background_footer_1 { z-index: 15; }
.form_hidden {
    display: none !important;
}
/* footer конец */
/* footer popup */
.popup_order_call_container {
    position: fixed;
    z-index: 20;
    top: 12%;
    display: flex;
    justify-content: space-between;
    width: 703px;
    margin-left: 10%;
    margin-right: 10%;
}
.popup_order_call {
    padding: 35px 80px 37px 40px;
    box-shadow: 0px 48px 48px -32px rgba(0, 0, 0, 0.1);
    gap: 20px;
    position: relative;
    background-color: #FFFFFF;
    display: none;
}
.active_form {
    display: flex !important;
}
.window_close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 2px solid #618B7E;
    transition: opacity .3s;
    opacity: 1;
    cursor: pointer;
    outline: 0;
    background-color: #FFFFFF;
}
.window_close:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 15px;
    background-color: #618B7E;
    transform: translate(-50%,-50%) rotate(45deg);
}
.window_close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 15px;
    background-color: #618B7E;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.window_close:hover {
    opacity: .7;
}
.popup_order_call_left {
    max-width: 281px;
}
.popup_order_call_right {
    max-width: 262px;
}
.popup_order_call_right_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.popup_order_call_left_h2 {
    font-size: 35px;
    line-height: 126.316%;
    font-weight: 700;
}
.popup_order_call_left_p {
    font-size: 15px;
    line-height: 133.333%;
    max-width: 233px;
    margin-top: 26px;
}
.order_call_form_label {
    font-size: 15px;
    line-height: 133.333%;
}
.order_call_form {
    display: flex;
    flex-direction: column;
}
.order_call_form_input {
    border: 1px solid #A8A8A8;
    padding: 12px 0 12px 16px;
    border-radius: 2px;
}
.order_call_form_button {
    background-color: var(--Green);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 102px;
    font-size: 15px;
    line-height: 133%;
    cursor: pointer;
    margin-top: 16px;
    font-weight: 700;
    transition: opacity .3s;
    max-width: max-content;
}
.order_call_form_button:hover {
    opacity: 0.7;
}
.popup_order_call_right_p {
    margin-top: 16px;
    font-size: 12px;
    line-height: 133%;
}
/* footer popup */
/* page stroitelniye_uslugi начало */
.stroitelniye_uslugi_domokomplekt_list_img {
    width: 362px;
    height: 257px;
}
.stroitelniye_uslugi_domokomplekt_domokomplekt_heading,
.stroitelniye_uslugi_domokomplekt_pod_krishu_heading,
.stroitelniye_uslugi_domokomplekt_pod_kluch_heading {
    color: var(--White, #000);
    font-size: 20px;
    font-weight: 700;
    line-height: 26px; /* 130% */
}
.stroitelniye_uslugi_domokomplekt_point_grey {
    color: rgba(255, 255, 255, 0.3);
    font-size: 15px;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    display: flex;
    gap: 7px;
}
.stroitelniye_uslugi_domokomplekt_point_black {
    font-size: 15px;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    display: flex;
    gap: 7px;
}
.stroitelniye_uslugi_domokomplekt_list {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
.stroitelniye_uslugi_domokomplekt_point_grey::before {
    content: url(/icons/page_stroitelniye_uslugi/house_kit_cross.png);
}
.stroitelniye_uslugi_domokomplekt_point_black::before {
    content: url(/icons/page_stroitelniye_uslugi/domokomplekt_checkmark.png);
}
.button_stroitelniye_uslugi_domokomplekt_domokomplekt,
.button_stroitelniye_uslugi_domokomplekt_pod_krishu,
.button_stroitelniye_uslugi_domokomplekt_pod_kluch {
    background-color: var(--White);
    color: var(--Green);
    border: none;
    padding: 10px 16px;
    border-radius: 102px;
    font-size: 15px;
    font-weight: 700;
    line-height: 133%;
    cursor: pointer;
}
.button_stroitelniye_uslugi_domokomplekt_domokomplekt:hover,
.button_stroitelniye_uslugi_domokomplekt_pod_krishu:hover,
.button_stroitelniye_uslugi_domokomplekt_pod_kluch:hover {
    opacity: .6;
    transition: all 0.2s ease;
}
.stroitelniye_uslugi_domokomplekt_list_point {
    list-style-type: none;
}
.stroitelniye_uslugi_domokomplekt_domokomplekt,
.stroitelniye_uslugi_domokomplekt_pod_krishu,
.stroitelniye_uslugi_domokomplekt_pod_kluch {
    margin-top: -4px;
    padding-top: 16px;
    padding-bottom: 23px;
    padding-left: 16px;
    background-color: #335E50;
}
.stroitelniye_uslugi_heading {
    color: #000;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px; /* 123.077% */
    padding-top: 70px;
    padding-left: 17px;
    padding-right: 17px;
}
.stroitelniye_uslugi {
    display: flex;
    justify-content: center;
}
.stroitelniye_uslugi_container {
    width: 1146px;
}
.stroitelniye_uslugi_domokomplekt_domokomplekt_list,
.stroitelniye_uslugi_domokomplekt_pod_krishu_list,
.stroitelniye_uslugi_domokomplekt_pod_kluch_list {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    margin-top: 11px;
}
.button_stroitelniye_uslugi_domokomplekt_domokomplekt,
.button_stroitelniye_uslugi_domokomplekt_pod_krishu,
.button_stroitelniye_uslugi_domokomplekt_pod_kluch {
    margin-top: 20px;
}
.stroitelniye_uslugi_page_text_one_heading {
    color: #43382F;
    font-size: 26px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 45px;
}
.stroitelniye_uslugi_page_text_one_heading_pravki_font {
    font-size: 38px;
    margin-top: 70px;
}
.stroitelniye_uslugi_page_text_one_heading_h3 {
    font-size: 26px; /* в 1.5 раза меньше, чем 38px */
    margin-top: 30px;
    color: #555555;
}
.process_stroitelstva,
.stroitelniye_uslugi_page_text_one {
    display: flex;
    justify-content: center;
}
.process_stroitelstva_container,
.stroitelniye_uslugi_page_text_one_container {
    width: 1146px;
}
.stroitelniye_uslugi_page_text_one_container_seopravki {
    width: 740px;
}
.catalog_domov_container {
    min-width: 978px;
    max-width: 740px;
}
.process_stroitelstva_heading {
    color: #000;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 126.316%;
}
.process_stroitelstva {
    margin-top: 67px;
}
.slider_stroitelniye_uslugi_page {
    margin-top: 29.8px;
}
.stroitelniye_uslugi_page_text_one {
    margin-top: 25px;
}
.stroitelniye_uslugi_page_text_one_text {
    margin-top: 23px;
    max-width: 978px;
    color: #43382F;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%; /* 21px */
}
.stroitelniye_uslugi_page_text_one_text_last {
    margin-bottom: 70px;
}
.stroitelniye_uslugi_page_text_one_text_first {
    margin-top: 0;
}
.stroitelniye_uslugi_page_text_one_text_second {
    margin-top: -23px;
}
.stroitelniye_uslugi_page_text_one_bottom {
    margin-bottom: 70px;
}
.block_dostijeniy_one,
.block_dostijeniy_two {
    display: flex;
}
.dostijenie_csifra_one {
    color: var(--Green, #618B7E);
    text-align: center;
    font-size: 71px;
    font-weight: 700;
    line-height: 100%; /* 71px */
    padding-left: 9.4px;
    padding-right: 9px;
}
.let_na_rynke,
.dovolnih_klientov,
.sudebnih_razbiratelstv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.block_dostijeniy {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}
.block_dostijeniy_container {
    width: 1146px;
    display: flex;
    justify-content: space-around;
}
.dostijenie_csifra_two {
    color: var(--Green, #618B7E);
    text-align: center;
    font-size: 71px;
    font-weight: 700;
    line-height: 100%; /* 71px */
    padding-left: 17.1px;
    padding-right: 19px;
}
.dostijenie_csifra_three {
    color: var(--Green, #618B7E);
    text-align: center;
    font-size: 71px;
    font-weight: 700;
    line-height: 100%; /* 71px */
    padding-left: 8.1px;
    padding-right: 11px;
}
.proecty_homepage_houses {
    width: 756px;
    height: 470px;
    background-image: url("../img/homepage/project_houses.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #CAEBE0;
    display: block;
    text-decoration: none;
    position: relative;
}
.proecty_homepage_baths_container:hover,
.proecty_homepage_gazebos_and_mafs_container:hover {
    opacity: .9;
    transition: all 0.2s ease;
}
.buttons_houses_point:hover,
.buttons_bath_point:hover,
.buttons_maf_point:hover {
    opacity: .6;
    transition: all 0.2s ease;
}
.proecty_homepage_baths {
    width: 378px;
    height: 226px;
    background-image: url("../img/homepage/project_baths.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.proecty_homepage_gazebos_and_mafs {
    width: 378px;
    height: 233px;
    background-image: url("../img/homepage/project_gazebos_and_mafs.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #CAEBE0;
    display: block;
    text-decoration: none;
    position: relative;
}
.proecty_homepage_houses_text,
.proecty_homepage_baths_text,
.proecty_homepage_gazebos_and_mafs_text {
    position: absolute;
    bottom: 0;
    color: var(--White, #FFF);
    font-size: 26px;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
    margin-left: 24px;
    margin-bottom: 26px;
    z-index: 3;
}
.proecty_homepage {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    margin-top: 56px;
}
.proecty_homepage_block_two {
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.proecty_homepage_gazebos_and_mafs_text {
    width: 255px;
}
.overlay_proecty_homepage_baths {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 98px;
    opacity: 0.4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    z-index: 2;
}
.overlay_proecty_homepage_gazebos_and_mafs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    opacity: 0.4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    z-index: 2;
}
.overlay_proecty_homepage_houses {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 207px;
    opacity: 0.4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    z-index: 2;
}
.overlay_gallery {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    z-index: 2;
}
.proecty_homepage_baths_container,
.proecty_homepage_gazebos_and_mafs_container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.proecty_homepage_houses_bg,
.proecty_homepage_baths_bg,
.proecty_homepage_gazebos_and_mafs_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sobstvennoe_proizvodstvo_heading {
    margin-top: 70px;
    color: var(--black, #000);
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    width: 774px;
}
.sobstvennoe_proizvodstvo_heading_seopravki {
    width: max-content;
}
.sobstvennoe_proizvodstvo_heading2 {
    margin-top: 0px;
    color: var(--black, #000);
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
}
.sobstvennoe_proizvodstvo {
    display: flex;
    justify-content: center;
}
.sobstvennoe_proizvodstvo_container {
    width: 1146px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobstvennoe_proizvodstvo_text {
    color: var(--black, #000);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    width: 798px;
    opacity: 0.7;
    margin-top: 24px;
}
.stroitelniye_uslugi_text_pravki_font {
    font-size: 20px;
    line-height: 28px;
    opacity: 0.7;
    margin-top: 24px;
    color: #000000;
}
.sobstvennoe_proizvodstvo_text_seopravki {
    width: auto;
}
.sobstvennoe_proizvodstvo_text_viravnivanie {
    text-align: left;
    text-indent: 30px;
}
.sobstvennoe_proizvodstvo_text_last {
    margin-bottom: 70px;
}
.sobstvennoe_proizvodstvo_slider {
    margin-top: 30px;
}
.sobstvennoe_proizvodstvo_button {
    margin-top: 30px;
    background-color: #FFFFFF;
    color: var(--Green, #618B7E);
    border: 2px solid var(--Green, #618B7E);
    padding: 10px 24px;
    border-radius: 102px;
    font-size: 15px;
    line-height: 133%;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.kachestvo_breven_section {
    display: flex;
    justify-content: center;
}
.kachestvo_breven_section_container {
    width: 1146px;
}
.chramy_chasovni {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.chramy_chasovni_container {
    display: flex;
    width: 1146px;
    justify-content: space-between;
    background: #F6EDE3;
    border-radius: 2px;
    position: relative;
}
.chramy_chasovni_foto {
    position: absolute;
    right: 93px;
    top: -25px;
}
.chramy_chasovni_heading {
    color: var(--black, #000);
    font-size: 38px;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    max-width: 556px;
}
.chramy_chasovni_point {
    color: var(--black, #000);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    width: 495px;
}
.chramy_chasovni_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-image: url(../icons/homepage/check_mark2.svg);
    padding-left: 34px;
    margin-top: 39px;
}
.chramy_chasovni_button {
    background-color: var(--Green);
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    border-radius: 102px;
    font-size: 15px;
    line-height: 133%;
    cursor: pointer;
    margin-top: 21px;
    font-weight: 700;
    margin-bottom: 40px;
}
.chramy_chasovni_block1 {
    margin-top: 40px;
    margin-left: 40px;
}
.etapy_raboty_heading {
    color: var(--black, #000);
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    margin-top: 72px;
}
.etapy_raboty {
    display: flex;
    justify-content: center;
}
.etapy_raboty_container {
    width: 1146px;
}
.etapy_raboty_block2 {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.etapy_raboty_foto1,
.etapy_raboty_foto2,
.etapy_raboty_foto3,
.etapy_raboty_foto4 {
    width: 265px;
    height: 187px;
}
.etapy_raboty_block2_card1,
.etapy_raboty_block2_card2,
.etapy_raboty_block2_card3,
.etapy_raboty_block2_card4 {
    width: 265px;
}
.etapy_raboty_block2_card1_text,
.etapy_raboty_block2_card2_text,
.etapy_raboty_block2_card3_text,
.etapy_raboty_block2_card4_text {
    color: var(--black, #000);
    font-size: 17px;
    font-weight: 700;
    line-height: 130%; /* 22.1px */
    margin-top: 16px;
}
.csifra_etapy_raboty {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background: #335E50;
    display: flex;
    color: var(--White, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 130%; /* 26px */
    position: absolute;
    top: 0;
    margin-top: 16px;
    margin-left: 16px;
}
.zayavka_na_dom_container,
.zayavka_na_dom_container2 {
    margin-top: 94px;
    border: 3px solid #EFE0D1;
    display: flex;
    justify-content: space-between;
    width: 1146px;
    margin-bottom: 70px;
}
.zayavka_na_dom {
    display: flex;
    justify-content: center;
}
.zayavka_na_dom_heading {
    color: var(--black, #000);
    font-size: 38px;
    font-weight: 700;
    line-height: 126%;
    max-width: 463px;
}
.button_zayavka_na_dom {
    background-color: var(--Green);
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    border-radius: 102px;
    font-size: 15px;
    line-height: 133%;
    cursor: pointer;
    margin-top: 21px;
    font-weight: 700;
    margin-top: 22px;
}
.button_zayavka_na_dom_catalog {
    margin-top: 24px;
}
.button_zayavka_na_dom:hover  {
    opacity: .6;
    transition: all 0.2s ease;
}
.zayavka_na_dom_block1 {
    padding: 87px 0 87px 40px;
}
.zayavka_na_dom_block1_homepage {
    padding: 23px 0 33px 37px;
}
.zayavka_na_dom_block1_catalog {
    padding: 27px 0 36px 40px;
}
.zayavka_na_dom_foto {
    margin-bottom: 16px;
    width: 487px;
    height: 335px;
}
.zayavka_na_dom_foto_homepage {
    width: 644px;
    height: 305px;
    align-self: center;
    margin-bottom: 0;
    margin-right: 24px;
}
.zayavka_na_dom_foto_catalog {
    width: 429px;
    height: 268px;
    margin-bottom: -2px;
    margin-top: -43px;
}
.years_on_market {
    font-size: 15px;
    line-height: 133%;
}
.etapy_raboty_heading {
    padding-left: 17px;
    padding-right: 17px;
}
.zayavka_na_dom_text_spb {
    font-size: 20px;
    line-height: 127%;
    font-weight: 500;
    max-width: 380px;
    margin-top: 61px;
    opacity: 0.7;
}
.chramy_chasovni_button:hover  {
    opacity: .6;
    transition: all 0.2s ease;
}
.homepage_slider_2_container {
    width: 1146px;
    position: relative;
}
.sobstvennoe_proizvodstvo_container_seopravki {
    width: 740px;
}
.zayavka_na_dom_text_spb_bold {
    font-weight: 700;
}
/* homepage конец */
/* gallery начало */
.gallery_heading {
    color: var(--black, #000);
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px; /* 123.077% */
    margin-top: 50px;
}
.gallery {
    display: flex;
    justify-content: center;
}
.gallery_container {
    width: 1146px;
    display: flex;
    flex-direction: column;
}
.gallery_under_heading_text {
    color: var(--black, #000);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; /* 28px */
    max-width: 931px;
    align-self: center;
    opacity: 0.7;
    margin-top: 24px;
}
.gallery_under_heading_text_700 {
    font-weight: 700;
    opacity: 0.9;
}
.block_relative {
    position: relative;
}
.project1_heading {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    padding-left: 15px;
    padding-right: 15px;
}
.project2_heading {
    margin-top: 46px;
}
.no_wrap {
    white-space: nowrap;
}
.private_life_text {
    color: #99704B;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    max-width: 554px;
    text-align: center;
}
.private_life_container {
    display: flex;
    align-items: center;
    background-color: #FFF6E9;
    justify-content: space-between;
    padding: 30px;
}
.private_life_container {
    margin-top: 31px;
}
.my_gallery_bottom {
    margin-bottom: 30px;
}
.gallery2_common_container {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
.gallery3_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1146px;
    margin-left: auto;
    margin-right: auto;
}
.gallery3_container .grid-item {
    position: relative;
    overflow: hidden;
}
.gallery3_container .grid-item a {
    display: block;
    position: relative;
    cursor: pointer;
}
.gallery3_container .grid-item img {
    width: 100%;
    height: 362px;
    object-fit: cover;
    display: block;
    transition: all 0.3s ease-in-out;
}
.gallery3_container .grid-item img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.gallery3_container .grid-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    opacity: 0.4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    z-index: 2;
    pointer-events: none;
}
.gallery3_container .grid-item .text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--White, #FFF);
    font-size: 26px;
    font-weight: 700;
    line-height: 120%;
    z-index: 3;
    margin-left: 24px;
    margin-bottom: 26px;
    pointer-events: none;
}
.gallery3_container .grid-item.center {
    grid-column: 2 / 3;
}
.gallery3_container .grid-item .hidden {
    display: none;
}
/* gallery конец */
/* o_kompanii начало */
.iframe_o_kompanii_container {
    width: 100%;
    max-width: 1146px;
    aspect-ratio: 1146 / 601;
    position: relative;
}
.iframe_o_kompanii_container .iframe_o_kompanii {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 17px;
}
.o_companii {
    display: flex;
    justify-content: center;
    padding-left: 17px;
    padding-right: 17px;
}
.o_companii_container,
.o_companii_container1 {
    width: 1146px;
    display: flex;
    flex-direction: column;
}
.o_companii_container_text {
    color: var(--black, #000);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    width: 885px;
    opacity: 0.7;
}
.o_companii_container_text_container {
    margin-top: 40px;
}
.o_companii_karta_container {
    margin-top: 70px;
    display: flex;
    border: 3px solid #EFE0D1;
}
.o_companii_karta_block1 {
    flex: 0.9;
}
.o_companii_karta_block2 {
    flex: 1.4;
}
.o_companii_karta_block1_heading {
    color: var(--black, #000);
    font-size: 26px;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
}
.o_companii_karta_adress_proizvodstva_text1,
.o_companii_karta_tel_text1 {
    color: var(--black, #000);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
}
.o_companii_karta_adress_proizvodstva_text2 {
    color: var(--black, #000);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    opacity: 0.65;
}
.o_companii_karta_email_text1 {
    color: var(--black, #000);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
}
.o_companii_karta_tel_list_point {
    list-style-type: none;
}
.o_companii_karta_tel_list_point_link {
    text-decoration: none;
    color: var(--black, #000);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
}
.o_companii_karta_email_link {
    text-decoration: none;
    color: var(--Green, #618B7E);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
}
.o_companii_karta_social_seti_list {
    display: flex;
    width: 128px;
    justify-content: space-between;
}
.o_companii_karta_social_seti_point {
    list-style-type: none;
}
.o_companii_karta_adress_proizvodstva_container {
    display: flex;
    gap: 42px;
    margin-top: 20px;
}
.o_companii_karta_tel {
    margin-top: 30px;
}
.o_companii_karta_tel_list {
    margin-top: 4px;
}
.o_companii_karta_email {
    margin-top: 30px;
}
.o_companii_karta_social_seti {
    margin-top: 39px;
}
.o_companii_karta_block1 {
    padding: 41px 40px 36px 40px;
}
.o_companii_karta_container_iframe {
    flex: 1.4;
}
.o_companii_karta_block1_gerb {
    width: 74px;
    height: 90px;
}
.o_companii_karta_adress_proizvodstva {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.o_companii_container_text_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.o_companii_container_heading {
    color: var(--black, #000);
    font-size: 52px;
    font-weight: 700;
    line-height: 123%;
}
.o_companii_container2 {
    margin-top: 40px;
}
/* o_kompanii конец */
/* proizvodstvo начало */
.proizvodstvo_heading {
    color: var(--black, #000);
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px; /* 123.077% */
    margin-top: 70px;
}
.proizvodstvo_under_heading_text {
    color: var(--black, #000);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    opacity: 0.7;
    margin-top: 24px;
    width: 986px;
}
.proizvodstvo {
    display: flex;
    justify-content: center;
}
.proizvodstvo_container {
    width: 1146px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.proizvodstvo_vidy_foto {
    width: 264px;
    height: 264px;
}
.proizvodstvo_vidy_container_2 {
    display: flex;
    flex-wrap: wrap;
    width: 1146px;
    justify-content: space-between;
    margin-top: 55px;
    row-gap: 40px;
}
.proizvodstvo_vidy_block_text {
    width: 264px;
    color: var(--black, #000);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
}
.proizvodstvo_vidy {
    display: flex;
    justify-content: center;
}
.proizvodstvo_vidy_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.process_stroitelstva_heading {
    padding-left: 17px;
    padding-right: 17px;
}
/* proizvodstvo конец */
/* catalog-domov, catalog-bani, catalog-besedki начало */
.catalog_heading {
    color: #000;
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px; /* 123.077% */
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
}
.catalog {
    display: flex;
    justify-content: center;
}
.catalog_container {
    width: 1146px;
}
.buttons_bath_houses_maf {
    display: flex;
    justify-content: center;
    margin-top: 21px;
}
.buttons_houses,
.buttons_bath,
.buttons_maf {
    padding: 11px 22px;
    color: #335D50;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: #FFF;
    width: 53px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.buttons_houses_point,
.buttons_bath_point,
.buttons_maf_point {
    padding: 11px 0px;
}
.buttons_houses {
    border: 3px solid #C0D1CB;
    border-right: none;
}
.buttons_bath {
    border: 3px solid #C0D1CB;
    border-right: none;
    border-left: none;
}
.buttons_maf {
    border: 3px solid #C0D1CB;
    border-left: none;
}
.buttons_bath_houses_maf_active {
    background-color: #C0D1CB;
    color: #000;
}
.houses_block_foto_1 {
    width: 753px;
    height: 424px;
    display: none;
}
.houses_block_foto_active {
    display: block !important;
}
.houses_block_foto_2 {
    width: 106px;
    height: 57px;
    cursor: pointer;
}
.houses_block_foto_3 {
    width: 106px;
    height: 58px;
    cursor: pointer;
}
.houses_block_foto_2:hover,
.houses_block_foto_3:hover {
    opacity: .7;
    transition: all 0.2s ease;
}
.houses_block_list_point {
    display: flex;
    border: 3px solid #C0D1CB;
}
.houses_block_list_point1 {
    margin-top: 40px;
}
.houses_block_list_point2 {
    margin-top: 20px;
}
.houses_block_foto_section {
    display: flex;
    justify-content: center;
    position: relative;
    width: 753px;
}
.houses_block_foto_section1 {
    position: absolute;
    left: -3px;
    top: -3px;
}
.houses_block_heading {
    color: var(--black, #000);
    font-size: 26px;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
}
.houses_block_parameters {
    color: var(--black, #000);
    font-size: 15px;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    opacity: 0.7;
    display: flex;
    margin-top: 22px;
    gap: 15px;
}
.houses_block_text1 {
    color: var(--black, #000);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    margin-top: 147px;
}
.bath_block_text1 {
    color: var(--black, #000);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px; /* 140% */
    margin-top: 146px;
}
.bath_block_text1_besedki {
    margin-top: 207px;
}
.houses_block_text2 {
    color: var(--black, #000);
    font-size: 13px;
    font-weight: 400;
    line-height: 130%; /* 16.9px */
    opacity: 0.5;
    margin-top: 7px;
    max-width: 329px;
}
.houses_block_button {
    background-color: var(--Green);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 102px;
    font-size: 15px;
    line-height: 133%;
    cursor: pointer;
    margin-top: 22px;
    font-weight: 700;
    margin-bottom: 32px;
}
.houses_block_button:hover {
    opacity: .6;
    transition: all 0.2s ease;
}
.houses_block_parameters1,
.houses_block_parameters2 {
    width: 143px;
    display: flex;
    flex-direction: column;
    gap: 11.3px;
}
.houses_block_parameters_section {
    margin-top: 27px;
    margin-left: 30px;
}
.houses_block_foto_section2 {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
}
.houses_block_foto_section2 {
    gap: 8px;
}
.active_houses_block_foto {
    border: 3px solid #EC6519;
}
.non_active_houses_block_foto {
    border: 3px solid #FFFFFF;
}
.zayavka_na_dom_container2 {
    margin-top: 40px;
    border: 3px solid #EFE0D1;
    display: flex;
    justify-content: space-between;
    width: 1146px;
    margin-bottom: 19px;
}
.houses_block,
.bath_block,
.maf_block {
    display: none;
}
.houses_bath_maf_active {
    display: block !important;
}
.catalog_domov_list1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 23px;
    padding-left: 20px;
    max-width: 740px;
}
.catalog_domov_list1_point {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.7;
    color: #000000;
    padding-left: 5px;
}
.catalog-foto-sub {
    padding-left: 3px;
    padding-top: 3px;
}
.zayavka_na_dom_container_catalog2 {
    margin-top: 40px;
    margin-bottom: 19px;
}
.homepage_slider_one {
    display: flex;
    justify-content: center;
}
.homepage_slider_one_component {
    min-width: 1366px;
    max-width: 1366px;
    position: relative;
}
.homepage_body {
    overflow-x: hidden;
}
.slider_1_container .slick-prev {
    position: absolute;
    z-index: 1;
    background-color: unset;
    border: none;
    bottom: 6px;
    left: 93px;
    cursor: pointer;
}
.slider_1_container .slick-next {
    position: absolute;
    z-index: 1;
    background-color: unset;
    border: none;
    bottom: 6px;
    right: 93px;
    cursor: pointer;
}
.slider_1_container {
    height: 674px;
}
.slider_1_foto_1,  
.slider_1_foto_2,  
.slider_1_foto_3,  
.slider_1_foto_4,  
.slider_1_foto_5,  
.slider_1_foto_6,  
.slider_1_foto_7  {
    height: 674px;
    width: 100%;
    object-fit: cover;
}
.slider_1_container .slick-slide {
    border: 17px solid #FFFFFF;
}
.slider_1_container .slick-dots {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: absolute;
    z-index: 1;
    bottom: 27px;
    cursor: pointer;
    width: 100%;
}
.slider_1_container .slick-dots li {
    list-style-type: none;
}
.slider_1_container .slick-dots li button {
    border: none;
}
.slider_1_container .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.4;
    border: none;
    cursor: pointer;
}
.slider_1_container .slick-dots li.slick-active button {
    background-color: #FFFFFF;
    opacity: 1;
}
.slider_1_heading {
    position: absolute;
    z-index: 1;
    bottom: 131px;
    color: #FFFFFF;
    font-size: 52px;
    font-weight: 700;
    line-height: 110%; /* 57.2px */
    width: 805px;
    left: 93px;
}
.homepage_slider_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
.sobstvennoe_proizvodstvo2 {
    display: flex;
    justify-content: center;
}
.sobstvennoe_proizvodstvo2_container {
    display: flex;
    justify-content: center;
    width: 1146px;
}
.homepage_slider_2 .slick-track {
    display: flex;
    gap: 12px;
}
.homepage_slider_2 .custom-prev,
.homepage_slider_2 .custom-next,
.homepage_slider_2 .dostavka-custom-prev,
.homepage_slider_2 .dostavka-custom-next,
.homepage_slider_3 .uslugi-custom-prev,
.homepage_slider_3 .uslugi-custom-next {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    cursor: pointer;
}
.homepage_slider_2 .custom-prev,
.homepage_slider_2 .custom-next {
    outline: none;
}
.homepage_slider_2 .custom-prev img,
.homepage_slider_2 .custom-next img {
    width: 58px;
    height: 58px;
}
.sobstvennoe_proizvodstvo_slider img {
    height: 282px;
}
.homepage_slider_2 .custom-prev { bottom: 100px; left: -29px; }
.homepage_slider_2 .custom-next { bottom: 100px; right: -29px; }
/* слайдер №2 на странице homepage конец */
/* слайдер №3 на странице stroitelniye_uslugi начало */
.homepage_slider_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 29px;
}
.homepage_slider_3_container {
    width: 1094px;
    position: relative;
}
.homepage_slider_3 .uslugi-custom-prev { bottom: 100px; left: -29px; }
.homepage_slider_3 .uslugi-custom-next { bottom: 100px; right: -29px; }
.stroitelniye_uslugi_slider img {
    height: 282px;
}
.homepage_slider_3 .slick-track {
    display: flex;
    gap: 12px;
}
.header_adaptive {
    display: none;
}
.header_adaptive_component {
    display: flex;
    width: 100%;
}
.header_adaptive_component_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
}
.menu_hamburger {
    display: none;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 4px;
}
.menu_hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #618B70;
    margin-bottom: 4px;
    transition: 0.5s all;
}
.header_adaptive_component_logo_link {
    display: flex;
}
.slider_1_container .slick-prev,
.slider_1_container .slick-next {
    position: absolute;
    z-index: 2;
}
.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 11px 0;
    background-color: #F4F4F4;
    opacity: 0.96;
    transition: 0.6s all;
    z-index: 11;
}
.hamburger_active span {
    margin-bottom: -2px;
}
.hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
}
.hamburger_active span:nth-child(2) {
    display: none;
}
.hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
}
.menu_active {
    right: -107%;
}
.logo_header_adaptive {
    position: relative;
}
.header_logo_and_links_list_link {
    color: var(--335-e-50);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.98px;
    text-transform: uppercase;
}
.header_connection_callback {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: #335D50;
    text-align: center;
    margin-top: 7px;
    max-width: 178px;
    cursor: pointer;
}
.button_calculate_header {
    background-color: var(--Green);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 102px;
    font-size: 13px;
    line-height: 153%;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 700;
}
.button_calculate_header:hover  {
    opacity: .6;
    transition: all 0.2s ease;
}
.mt2_spb {
    margin-top: 31px;
}
.error_page2_flex--p1,
.error_page2_flex--p2 {
    font-size: 31px;
}
.error_page2_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 29%;
    padding-bottom: 29%;
    gap: 7px;
}
.thumbnail {
    width: 100px;
    cursor: pointer;
    height: 200px;
    width: auto;
}
.thumbnail_hram_scheglovo {
    height: 1000px;
}
.thumbnail_hram_mshinskaya_1,
.thumbnail_hram_mshinskaya_2 { 
    height: 317.5px;
}
figure {
    display: inline;
}
.gallery_container_limiter {
    overflow: hidden;
}
.my_gallery {
    width: 120vw;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.gallery_link {
    text-decoration: none;
}
.lightbox-container {
    touch-action: pan-y;
}
.politika_heading_1level {
    font-size: 38px;
    font-weight: 700;
    line-height: 122%;
    max-width: 90%;
    padding-top: 20px;
}
.politika_container {
    padding: 50px;
    margin-left: 100px;
margin-right: 400px;
}
.cookies_policy_container {
    margin-left: 100px;
    margin-right: 400px;
}
.politika_text_1 {
    padding-top: 15px;
}
.politika_heading_2level {
    padding-top: 20px;
}
.politika_text_2 {
    padding-top: 13px;
}
.opasity_link {
    opacity: 0.5;
}
.success_send_message_block_container {
        position: fixed;
        z-index: 17;
        top: 21%;
        display: flex;
        justify-content: center;
        max-width: 703px;
        min-width: 703px;
        margin-left: 10%;
        margin-right: 10%;
}
.success_send_message_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 60px 37px 60px;
    box-shadow: 0px 48px 48px -32px rgba(0, 0, 0, 0.1);
    gap: 20px;
    position: relative;
    background-color: #FFFFFF;
}
.success_send_message_block_text {
    font-size: 28px;
    font-weight: 700;
}
.success_send_message_block_link {
    background-color: #34A4BD;
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    border-radius: 2px;
    font-size: 15px;
    line-height: 140%;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    border-radius: 102px;
}
.gray_background_header_sendMessage {
    position: fixed;
    top: -100%;
    right: 0%;
    left: -100%;
    bottom: -1000%;
    background-color: #000000;
    opacity: 0.25;
    z-index: 14;
}
.common_section {
    display: flex;
    justify-content: center;
}
.common_section_container {
    width: 1146px;
    padding-left: 40px;
    padding-right: 40px;
}
.common_section_container2 {
    width: 1146px;
}
.stage_section_container {
    width: 1146px;
    padding-left: 40px;
    padding-right: 40px;
}
.common_header {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
}
.common_header1 {
    margin-bottom: -18px;
    margin-top: 92px;
}
.common_header2 {
    margin-top: 92px;
}
.common_header3 {
    margin-top: 36px;
}
.common_header4 {
    margin-top: 58px;
}
.common_header5 {
    margin-top: 86px;
}
.common_header6 {
    margin-top: 53px;
    line-height: 126%;
}
/**/
/* редактирование секции form_zayavka начало */
.form_zayavka {
    display: flex;
    justify-content: space-between;
    background-color: #CAEBE0;
}
.zayavka_photo {
    width: 38.5%; /* ширина изображения 100% от родительского элемента */
    height: 426px; /* фиксированная высота изображения */
    object-fit: cover; /* изображение будет обрезаться, чтобы заполнить элемент */
    object-position: left center; /* прижать изображение к левому краю и центрировать по вертикали */
    margin-top: 22px;
}
.text_bottom1 {
    margin-bottom: 16px;
}
.form_zayavka_input {
    border: none; 
}
.order_call_form_mt {
    margin-top: 41px;
}
.mar_lef_mar_top1 {
    margin-top: 35px;
    margin-left: 40px;
}
.form_zayavka_container1 {
    display: flex;
    gap: 40px;
}
.popup_order_call_left_p_2 {
    max-width: 270px;
}
.zayavka_na_dom_foto_homepage_spb {
    margin-left: -32px;
}
.mt1_spb {
    margin-top: 64px;
}
.popup_order_call_container3,
.popup_order_call_container4,
.popup_order_call_container5 {
    position: absolute;
    z-index: 16;
    top: 12%;
    width: 703px;
    max-width: min-content;
    min-width: min-content
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.popup_order_call_container_projects,
.popup_order_call_container_projects2,
.popup_order_call_container_projects3 {
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}
.stage_project_list {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 35px;
    margin-bottom: 76px;
}
.stage_project_interval {
    font-weight: 700;
}
.stage_project_point {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 280px;
}
.stage_project_point_photo {
    width: auto;
    height: auto;
    max-height: 100px;
}
.stage_project_point_text {
    margin-top: 16px;
    font-size: 17px;
    line-height: 130%;
}
.mt3_spb {
    margin-top: 5px;
}
.mt4_spb {
    margin-top: 16px;
}
.stroitelniye_uslugi_domokomplekt_btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.button_stroitelniye_uslugi_total {
    background-color: var(--Green);
    color: #ffffff;
    border: none;
    padding: 10px 24px;
    border-radius: 102px;
    font-size: 15px;
    font-weight: 700;
    line-height: 133%;
    cursor: pointer;
}
.button_stroitelniye_uslugi_total:hover {
    opacity: .6;
    transition: all 0.2s ease;
}
/* Доставка и оплата - начало */
.dostavka_slider {
    margin-top: 30px;
}
.dostavka_slider img {
    height: 282px;
}
.homepage_slider_2 .dostavka-custom-prev { bottom: 100px; left: -29px; }
.homepage_slider_2 .dostavka-custom-next { bottom: 100px; right: -29px; }
.dostavka_container {
    display: flex;
    padding-top: 30px;
}
.dostavka_block1 {
    flex: 1;
    padding: 13px 32px 48px 0;
}
.dostavka_block2 {
    flex: 0.95;
    padding: 20px 15px 26px 24px;
    background-color: #F6EDE3;
}
.dostavka_text1 {
    max-width: 511px;
    opacity: 0.7;
    font-size: 20px;
    line-height: 140%;
    padding-top: 20px;
}
.dostavka_point {
    font-size: 15px;
    opacity: 0.7;
}
.dostavka_heading1,
.oplata_heading1 {
    font-size: 38px;
    line-height: 126%;
    font-weight: 700;
}
.dostavka_heading2,
.oplata_heading2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
}
.dostavka_heading2 {
    padding-left: 6px;
}
.dostavka_list1 {
    padding-left: 25px;
    padding-top: 19px;
    max-width: 476px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.how_dostavka_heading {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    margin-top: 60px;
}
.poryadok_oplaty_heading {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    margin-top: 60px;
}
.oplata_container {
    display: flex;
    margin-top: 90px;
}
.oplata_block1 {
    flex: 1;
    padding-right: 30px;
}
.oplata_block2 {
    flex: 1;
    background-color: #CAEBE0;
    padding: 21px 0 30px 30px;
}
.oplata_text1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    opacity: 0.7;
    max-width: 527px;
    margin-top: 20px;
}
.oplata_point {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    opacity: 0.7;
    list-style-type: none;
    padding-left: 9px;
}
.oplata_list {
    padding-left: 32px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-image: url("../icons/dostavka_i_oplata/check_mark5.svg");
}
.dostavka_link {
    color: #618B7E;
    text-decoration: none;
    margin-top: 18px;
    display: block;
}
.car_icon_item {
    list-style-type: none;
}
.car_icon_list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
/* Доставка и оплата - конец */
/* Cookie banner - начало */
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(97, 139, 126, 0.88);
    z-index: 10000;
    padding: 14px 30px;
}
.cookie-banner__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}
.cookie-banner__text {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
}
.cookie-banner__buttons {
    display: flex;
    gap: 12px;
    flex-shrink: 0;
}
.cookie-banner__btn {
    padding: 10px 28px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-align: center;
    transition: opacity 0.2s;
}
.cookie-banner__btn:hover {
    opacity: 0.85;
}
.cookie-banner__btn--accept {
    background-color: #335E50;
    color: #ffffff;
}
.cookie-banner__btn--more {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}
/* Cookie banner - конец */
