SITE_VARIANT=spb

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD="your-app-password"
SMTP_FROM_EMAIL=your-email@gmail.com
SMTP_FROM_NAME="Company Name"

MAIL_TO=recipient@example.com
MAIL_BCC=copy1@example.com,copy2@example.com

RECAPTCHA_SITE_KEY=your-recaptcha-site-key
RECAPTCHA_SITE_KEY_ALT=your-recaptcha-site-key-alt
RECAPTCHA_SECRET_KEY=your-recaptcha-secret-key
